*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.allcontain{
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}

.logo{
	position: absolute;
	float: left;
	z-index: 999;
	width: 124px;
	height: 124px;
	padding-top: 9px;
}
.topnav{
	background: none;
}
.topnavbar .container{
	margin-left: 107px !important;
}
.toggle-costume{
	float: left;
}

#navbarontop{
	padding-left: 312px;
	padding-top: 17px;
	height:69px; 
}
@font-face {
  font-family: "BebasNeue Regular";
    src: url(../source/fonts/BebasNeue-Regular.otf) format("truetype");
}
  #navbarontop > li > a {
  	font-family: 'BebasNeue Regular';
  	font-size: 17px;
  	color: #313943;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-bottom: 22px;
 	padding-left: 10px;
    padding-right: 10px!important;
    margin-left: 34px;
    border-bottom: 2px solid rgba(0,0,0,.0);

  }
  #navbarontop > li >a:hover{
  	background-color: none!important;
  	background: none!important;
  	border-bottom: 2px solid #C59E47;
  }
 

 #navbarontop>button{
 	background: none;
 	background-color: none;
 	border: 2px solid #C59E47;
 	font-family: 'BebasNeue Regular';
 	margin-left: 60px;
  	font-size: 16.99px;
  	color: #313943;
  	padding-left: 19px;
  	padding-right: 19px;
  	padding-top: -2px;
  	padding-bottom:-2px;
 }
 #navbarontop>button:hover{
 	background-color: #C59E47;
 	color: #fff;
 }
 .dropdowncostume{
 	margin-left: 0px;
 }
 .navbar-default .toggle-costume:hover,
.navbar-default .toggle-costume:focus {
  background-color: #000;
}
.navbar-default .toggle-costume.icon-bar {
  background-color: #fff;
}
.navbar-default .toggle-costume:hover .icon-bar {
  background-color: #fff;
}
#navbarontop .open > a,
#navbarontop .open > a:hover,
#navbarontop .open > a:focus {
	background-color: none!important;
  border-color: #C59E47;
}
#navbarontop a:focus {
  outline: none;
  border-bottom: 2px solid #C59E47; 
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	font-family: 'BebasNeue Regular';
	font-size: 13pt;
	color: #000;
	background-color: rgba(255,255,255,.5);
	text-align: center;

}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	background-color: #fff;
}
.dropdown.open .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 480px){
.dropdowncostume{
	padding-left: 0px;
	margin-left: 0px;
}
.topnavbar .container{
	margin-left: 10px !important;
}
.logo{
	position: absolute;
	top:0px;
	padding-top: 9px;
	-webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
     transform: scale(0.5);
}
.toggle-costume{
	float: right;
}
#navbarontop{
	 padding-left: 0px;
	padding-top: 26px; 
	height: 250px;
}
#navbarontop>li>a{
	margin-left: 0px;
	padding-left: 50px;
	font-size: 13pt;
	margin-bottom: 10px;

}
 #navbarontop>button{
 	margin-left:50px;
 
 }
.navbar-default .navbar-nav .open .dropdowncostume > li > a {
	text-align: left;
	margin-left: 40px;
}
#upmenu{
	margin-bottom: 15px;
}
}
@media screen and (min-width: 481px) and (max-width: 767px){
.topnavbar .container{
	margin-left: 10px !important;
}
.toggle-costume{
float: right;
}
 #navbarontop>button{
 	margin-left:50px;
 
 }
.logo{
	position: absolute;
	top:10px;
	padding-top: 9px;
	-webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
     transform: scale(0.7);
}
#navbarontop{
	 padding-left: 0px;
	padding-top: 40px; 
	height: 250px;
}
#navbarontop>li>a{
	margin-left: 0px;
	padding-left: 50px;
	font-size: 13pt;
	margin-bottom: 10px;

}
.navbar-default .navbar-nav .open .dropdowncostume > li > a {
	text-align: left;
	margin-left: 40px;
}
#upmenu{
	margin-bottom: 15px;
}
}
@media screen and (min-width: 768px) and (max-width: 1199px){
	.topnavbar .container {
		margin-left: 50px !important;
	}
	#navbarontop{
		padding-left: 25%;
	}
	#navbarontop > li > a {
    padding-bottom: 6px;
    margin-bottom: 22px;
 	padding-left: 0px;
    padding-right: 0px!important;
    margin-left: 20px;

  }
}
.carousel-caption{
	font-family: 'BebasNeue Regular';
	z-index: 999;
	background-color: #000000a0;
	padding: 5px 40px;
}
.carousel-caption > h2{
	text-align: left;
	font-family: 'BebasNeue Regular';
	font-size: 35pt;
	text-shadow: 0 0px 0px rgba(0, 0, 0, .0);

}
@font-face{
	font-family: "OpenSans Regular";
	src:url(../source/fonts/OpenSans-Regular.ttf) format("truetype");
}
.carousel-caption p{
	font-family: 'BebasNeue Regular';
	font-size: 25px;
	padding-bottom: 13px;
}
.carousel-caption {
	top: 72%;
    left: 5%;
	right: auto;
	bottom: auto;
}
@media screen and (min-width: 320px) and (max-width:767px){
	.carousel-caption > h2{
		font-size: 13pt;
	}
	.carousel-caption {
    	top: 15%;
	}
	.carousel-caption p {
		font-size: 10pt;
	}	
}

@font-face{
	font-family: "OpenSans-Light";
	src: url(../source/fonts/OpenSans-Light.ttf) format("truetype");
}
.feturedsection>h1{
	font-family: "OpenSans-Light";
	font-size: 41px;
	padding-top: 46px;
	padding-bottom: 50px;
	color: #020243;
}

.carstxt{
	padding-left: 45px;
	padding-right: 88px;
}
.bdots{
	padding-right: 40px;
} 
.row{
	padding: 0px;
	margin: 0px;

}


@media screen and (min-width: 320px) and (max-width: 480px){
	.feturedsection>h1{
	font-size: 15pt;
	padding-top: 20px;
	padding-bottom: 20px;
 
}
.bdots{
	padding-right: 15px;
} 
.carstxt{
	padding-left: 20px;
	padding-right: 15px;
}
}
@media screen and (min-width: 480px) and (max-width: 640px){
	.feturedsection>h1{
	font-size: 20pt;
}
.bdots{
	padding-right: 20px;
}
.carstxt{
	padding-left: 20px;
	padding-right: 20px;
} 
}

.img1colon{
	max-width:46.3%;
}
.img1colon>img{
 
	width: 100%;
  
}
.costumrow{
	border-top: 1px solid #BABABA;
	border-bottom: 1px solid #BABABA;	
}
.txt1colon{
	width: 53.7%;
}
.featurecontant{
	width:85%;
	height: auto;
	border: 1px solid #C59E47;
	margin-top: 7%;
 
	margin-right: auto;
	margin-left: auto;
 
}
.featurecontant>h1{
	font-family: "OpenSans Regular";
	font-size: 19.8px;
	text-align: center;
	color: #5B5B5B;
	margin-top:14%;
	margin-bottom: 8px;

}
.featurecontant>p{
	font-family: "OpenSans Regular";
	font-size: 11.44px;
	text-align: center;
	color: #5B5B5B;
}
.featurecontant>h2{
	font-family: "OpenSans Regular";
	font-size: 12.41pt;
	color: #F8C72D;
	text-align: center;
	letter-spacing: 8px;
	margin-top: 36%;
	margin-bottom: 19px;
}
.featurecontant>button{
	background: #F8C72D;
	border: 1px solid #F8C72D;
	font-family: "OpenSans Regular";
	font-size: 19px;
	color:#fff;
	letter-spacing: 5px;
	width: 68%;
	margin-left: 17%;
	margin-bottom: 26px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.featurecontant>button:hover{
	-moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .2s ease-in;
	border: 1px solid #F8C72D;
	background: none;
	color: #F8C72D;
} 
 

.img2colon{
	padding: 0px!important;
	margin: 0px!important;
	max-width:46.3%;

}
.img2colon>img{
	width: 100%;
}
#readmore{
	overflow-y: auto;
	position: absolute;
	background-color: #fff;
	top:0px;
	margin-top: 30px;
	height: 0px;
 	max-width: 290px;
}
#readmore>h1{
	text-align: center;
	font-family: "OpenSans Regular";
	color: #5B5B5B;
	font-size: 19.8px;
}
#readmore>p{
	font-family: "OpenSans Regular";
	font-size: 11.44px;
	text-align: center;
	color: #5B5B5B;
	margin-right: 20px;
	margin-left: 20px;
}
#readmore>button{
	background: none;
	border: 1px solid #F8C72D; 
	font-family: "OpenSans Regular";
	font-size: 19px;
	color:#F8C72D;
	letter-spacing: 5px;
	width: 70%;
	margin-left: 17%;
	margin-bottom: 26px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#readmore>button:hover{
	background: #F8C72D;
	color: #fff;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; 
} 
#readmore2{
	overflow-y: auto;
	position: absolute;
	background-color: #fff;
	top:0px;
	margin-top: 30px;
	height: 0px;
 	max-width: 290px;
}
#readmore2>h1{
	text-align: center;
	font-family: "OpenSans Regular";
	color: #5B5B5B;
	font-size: 19.8px;
}
#readmore2>p{
	font-family: "OpenSans Regular";
	font-size: 11.44px;
	text-align: center;
	color: #5B5B5B;
	margin-right: 20px;
	margin-left: 20px;
}
#readmore2>button{
	background: none;
	border: 1px solid #F8C72D; 
	font-family: "OpenSans Regular";
	font-size: 19px;
	color:#F8C72D;
	letter-spacing: 5px;
	width: 68%;
	margin-left: 17%;
	margin-bottom: 26px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#readmore2>button:hover{
	background: #F8C72D;
	color: #fff;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; 
}

@media screen and (max-width: 1198px){
.featurecontant{
width: 85%;
margin-right:auto;
margin-left: auto;

}

.costumrow{
	border-top: 0px solid #BABABA;
	border-bottom: 0px solid #BABABA;
}
.colborder1{
border-top: 1px solid #BABABA;
border-left: 1px solid #BABABA;
border-right:1px solid #BABABA; 
border-bottom: 1px solid #BABABA;
}
.colborder2{
border-left: 1px solid #BABABA;
border-right:1px solid #BABABA; 
border-bottom: 1px solid #BABABA;
}
.costumcol{
display: block;
max-width: 683px;
margin-right: auto;
margin-left: auto;
}
}
@media screen and (max-width: 651px){
.colborder1{
 border-top: 0px solid #BABABA;
 border-left:0px solid #BABABA;
 border-right:0px solid #BABABA; 
 border-bottom: 0px;
}
.img1colon>img{
	width: 312px;
	margin-left: 3px;
}
.img2colon>img{
	width: 312px;
	margin-left: 3px;
}
.colborder2{
border:0px solid #BABABA;
}
.txt1colon{
 width: 310px;
 margin-left: 3px;
}
.featurecontant{
 
width: 100%;
}
.costumcol{
display: block;
max-width: 320px;
margin-right: auto;
margin-left: auto;
}
#readmore{
 	max-width: 99%;
}
#readmore2{
 	max-width: 99%;
}
}

.carimages{
	 max-width: 100%;
}
.latestcars>h1{
	font-family: "OpenSans-Light";
	font-size: 41px;
	letter-spacing: 10px;
	padding-top: 66px;
	padding-bottom: 70px;
	color: #020243;
}
.sortby{
	font-family: "OpenSans Regular";
	font-size: 16px;
	color: #262626;
}
.latestlist{
	color: #6D6D6D;
	font-family: "OpenSans Regular";
	font-size: 14px;
	color: #262626;
 
}
.latest-navleft{
	width: 752px;
	margin-left: auto!important;
	margin-right: auto!important;
	border: 0px;
	float: none!important;

}
.latest-navleft>li:last-child{
	padding-left: 216px;
}
.latest-navleft>li>a{
	color: #6D6D6D;
	font-family: "OpenSans Regular";
	font-size: 14.8px;
	border: 0px;
	padding-top: 0px;
 
}
.latest-navleft > li > a:hover,
.latest-navleft > li > a:focus {
  text-decoration: none;
  background-color: #fff;
  outline: none;
}
.latest-navleft>li>button{
	background: none;
	background-color: none;
	border: 0px;
	font-size: 15pt;
	color: #F8C72D;
}
.latest-navleft>li>button:hover{
	color: #3F86D2;
}

.latest-navleft>li>a:hover{
	background: none;
	background-color: none;
	border: 0px;
	 
}
@media screen and (min-width: 1366px){
.latest-navleft{
	width: 810px;

}	
}
@media screen and (max-width: 767px){
.latestcars>h1{
	font-size: 18px;
	letter-spacing: 5px;
	padding-top: 20px;
	margin-top: 0px;
	padding-bottom: 40px;
}	
.latest-navleft{
	padding-bottom: 0px;
	padding-bottom: 0px;
	height: 186px;
}
.latest-navleft>li{
	float: none;

}
.latestcars{
	padding-bottom: 0px!important;
}
 
 
 
 .li-sortby{
 	padding-bottom: 20px;
 }
 .sortby{
font-weight: bold;
}

.latestcars{
	text-align: center;
	padding-bottom: 20px;
}
#hideonmobile{
	visibility: hidden;
}
.latest-navleft{
	width: 260px;

}
}
@media screen and (min-width: 768px) and (max-width: 1067px){
.sortby{
	font-family: "OpenSans Regular";
	font-size: 14px;
	color: #262626;
}
.latestlist{
	font-size: 12px;
 
}
.latest-navleft>li>a{
padding-left: 0px;
	}
.latest-navleft{
	width: 675px;

}
}

.txtcontent{
	position: absolute;
	top:0px;
	left:0px;
	background: rgba(12,12,12,.7);
	width: 100%;
	height: 100%;
	 opacity: 0;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;


}
 .stars{
 	font-size: 7px;
	padding-top: 57px;
	padding-bottom: 12px;
	text-align: center;
	border-bottom: 2px solid #F6F6FB;
	margin-left:58px;
	margin-right: 58px;
	color: #F6F6FB;

}
.simpletxt{
	text-align: center;
	border-top: 1px solid #F6F6FB;
	border-bottom: 1px solid #F6F6FB;
	margin-top: 2px;
	margin-left: 58px;
	margin-right: 58px;
	padding-top: 40px;
}
.simpletxt>h3{
	font-family: "OpenSans Semibold";
	font-size: 13.6px;
	color:#E7E7E7;
	margin: 0px;
}
.simpletxt>p{
	font-family: "OpenSans Regular";
	font-size: 11.2px;
	color: #E7E7E7;
	padding-top: 7px;
}
.simpletxt>h4{
	font-family: "OpenSans Regular";
	font-size:11.3px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	padding-bottom: 25px;

}

.simpletxt>button{
	background: none;
	border: 1px solid #fff;
	font-family:"OpenSans Regular";
	color: #fff;
	margin-bottom: 14px;
}
.wishtxt{
	padding-bottom: 42px;
}
.wishtxt .paragraph1{
	font-family: "OpenSans Regular";
	font-size:11.32px;
	color: #fff;
	float: left;


}
.wishtxt .paragraph2{
	font-family: "OpenSans Regular";
	font-size: 11.32px;
	color: #fff;
	float: right;
}
.stars2{
 	font-size: 7px;
	padding-top: 10px;
	margin-top: 2px;
	text-align: center;
	border-top: 2px solid #F6F6FB;
	margin-left:58px;
	margin-right: 58px;
	color: #F6F6FB;

}
.txthover>img{
	width:100%;

}
.txthover:hover .txtcontent{
	opacity: 1;
}
@media screen and (min-width: 320px) and (max-width: 766px){
 .stars{
	padding-top: 20px;
}
}
@media screen and (min-width: 1200px)and (max-width: 1280px){
.stars{
	padding-top: 37px;
}
}
.newslettercontent{
	position: relative;
	width: 100%;
	height: auto;
}
.leftside{
	position: relative;
}
.leftside>img{
	position: relative;
	width:51.5%;
	margin-top: 7%;
	margin-left: 8.1%;
	margin-bottom: 7%;
	z-index: 99;
}
@font-face{
  font-family: "OpenSans Bold";
  src: url(../source/fonts/OpenSans-Bold.ttf) format("truetype");
}
.leftside h1{
	font-family: "OpenSans Bold";
	top:39%;
	left: 13.2%;
	position: absolute;
	font-size: 27px;
	letter-spacing: 8px;
	z-index: 100;
	margin: 0px;
}
.leftside p{
	position: absolute;
	font-family: "OpenSans Regular";
	top:47.5%;
	left: 13.2%;
	font-size: 20px;
	z-index: 100;
	width: 35%;
}
.rightside{
	position: absolute;
	top: 26px;
	left: 50%;
	z-index: 1;
}
.rightside img{
	position: relative;
	width: 85%;
	padding-top: 66px;
	padding-left: 70px;
	z-index: 1;
}
.rightside input{
	position: absolute;
	top: 46%;
	left:25%;
	font-family: "OpenSans-Light";
	font-size: 26.8px;
	color:#F8C72D;
	background: none;
	background-color: none;
	border-top: none;
	border-left: none;
	border-right:none;
	border-bottom: 1px solid #F8C72D;	
	border-radius: 0;
	width: 53%;
	padding: 0px;
	z-index: 99;
}
#subemail:focus{
	border-bottom: 1px solid #F8C72D;
	 box-shadow: inset 0 0px;

	}
#subemail::-webkit-input-placeholder {
    color:#F8C72D;
 	line-height: 35px;
}
#subemail:-moz-placeholder {
   color:#F8C72D;
   opacity:  1;
   line-height: 35px;
}
#subemail::-moz-placeholder {
   color:#F8C72D;
   opacity:  1;
   line-height: 35px;
}
#subemail:-ms-input-placeholder {
   color:#F8C72D;
   line-height: 35px;
}

.rightside > button{
	position: absolute;
	top: 56%;
	left: 25%;
	z-index: 99;
	background: none;
	border: 1px solid #F8C72D;
	font-family: "OpenSans-Light";
	font-size: 31.5px;
	color: #F8C72D;
	letter-spacing: 11px;
	padding-left: 26.7px;
	padding-right: 26.7px;
	width: 53%;
	height: 12%;
}
.rightside > button:hover{
	background:#F8C72D;
	color: #000;
	-moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .2s ease-in;
}

@media screen and (max-width: 676px){
	.newslettercontent{
		margin-bottom: 90%;
	}
	.rightside>button{
		left:0%;
		top:48%;
		font-size: 31.5px;
		margin-left: 10%;
		width: 80%;
	}
	.leftside>img{
			transform:rotate(90deg);
			width: 100%;
			margin-left: 0%;
			margin-top:30%;
		}
	.leftside>h1{
		font-size: 13px;
		letter-spacing: 4px;
		text-align: center;
		top:14%;
		left: 26%;
	}
	.leftside>p{
		font-size: 12px;
		top:25%;
		left: 23%;
		width: 55%!important;
	}
	.rightside{
	left:0;
	top:90%;
	}
	.rightside>input{
	width: 80%;
	margin-left: 10%;
	left: 0%;
	}
}
@media screen and (max-width: 460px){
 	.rightside>button{
 		font-size: 26px;
 	}
 }
@media screen and (max-width:1200px){
	.leftside>h1{
		font-size: 16px;
		top:25%;
	}
	.leftside>p{
		font-size: 14px;
		top:38%;
		width: 30%;
	}
	.rightside>input{
		font-size: 20px;
	}
	.rightside>button{
	 	font-size: 27px;
		letter-spacing: 3px;
	}
}
.btn {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	outline: 2px solid #fff;
	padding: 20px 60px;
	position: relative;
	overflow: hidden;
	transition: color 1s;
}

.btn:hover {
	
	color: #03e9f4;
}

.btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: -50px;
	width: 0;
	height: 100%;
	background-color: #fff;
	transform: skewX(35deg);
	z-index: -2;
	transition: width 1s;
}

.btn:hover::before {
	width: 150%;
}

.container1 {
	font-family: "OpenSans-Light";
	font-size: 41px;
	letter-spacing: 10px;
	padding-top: 100px;
	padding-bottom: 70px;
	color: #020243;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 50px 10px;
}

.container1:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 1;
	filter: blur(50px);
}

.contact-box {
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
	height: 100%;
	background-size: cover;
}

.right {
	padding: 25px 70px;
}

.h2_1{
	text-align: center;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.h2_1:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	height: 4px;
	width: 50px;
	
}

.field{
	width: 100%;
	padding: 0.5rem 1rem;
	outline: none;
	border: 2px solid rgba(0, 0, 0, 0);
	background-color: rgba(230, 230, 230, 0.6);
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
	background-color: #fff;
	border: 2px solid rgba(30, 85, 250, 0.47);
}

.area{
	min-height: 30px;
}

.bttn {
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	background-color: #2ecc71;
	cursor: pointer;
	outline: none;
	border: none;
	color: #fff;
	transition: .3s;
}

.bttn:hover{
	background-color: #27ae60;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr ;
	}

	.left{
		height: 200px;
	}

}

.cars3{
	height: 350px;
}
.cars4{
	height: 350px;
}
.confoot{
	max-width: 1270px;
	margin: auto;
}
.rowfoot{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	font-family: 'BebasNeue Regular';
	background-color: #191919;
	padding: 20px 0;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}

.footer-col h4{
	font-size: 30px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 25px;
	font-weight: 500s;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #C59E47;
	height: 2px;
	box-sizing: border-box;
	width: 60px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 15px;
}
.footer-col ul li a{
	font-size: 17px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #fff;
	padding-left: 10px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
	.footer-col{
		width: 50%;
		margin-bottom: 20px;
	}
}