.logo {
    position: absolute;
    top: 10px;
    padding-top: 100px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    z-index: 999;
}

.row {
    padding: 0;
    margin: 0;
}

.topnav {
    background: none;
}

.topnav .container {
    display: flex;
    justify-content: center; /* Центрирование элементов по горизонтали */
    align-items: center;
    margin-left: 10px !important;
}

.toggle-costume {
    float: right;
}

#navbarontop {
    padding-left: 180px;
    padding-top: 26px;
    height: 80px;
    display: flex;
    justify-content: center; /* Центрирование элементов по горизонтали */
    align-items: center;
    list-style: none;
}

#navbarontop > li {
    margin: 0 10px; /* Промежуток между пунктами меню */
}

#navbarontop > li > a {
    text-decoration: none;
    font-family: 'BebasNeue Regular';
    font-size: 13pt;
    color: #313943;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-bottom: 10px;
    margin-left: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

#navbarontop > li > a:hover {
    background: none !important;
    border-bottom: 2px solid #C59E47;
}

#navbarontop > button {
    background: none;
    border: 2px solid #C59E47;
    font-family: 'BebasNeue Regular';
    margin-left: 50px;
    font-size: 16.99px;
    color: #161c1e;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: -2px;
    padding-bottom: -2px;
}

#navbarontop > button:hover {
    background-color: #000000;
    color: #000000;
}

.dropdowncostume {
    margin-left: 0;
}

.navbar-default .toggle-costume:hover,
.navbar-default .toggle-costume:focus {
    background-color: #000;
}

.navbar-default .toggle-costume.icon-bar {
    background-color: #000000;
}

.navbar-default .toggle-costume:hover .icon-bar {
    background-color: #000000;
}

#navbarontop .open > a,
#navbarontop .open > a:hover,
#navbarontop .open > a:focus {
    border-color: #C59E47;
}

#navbarontop a:focus {
    outline: none;
    border-bottom: 2px solid #C59E47;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    font-family: 'BebasNeue Regular';
    font-size: 13pt;
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #000000;
}

.maincontainer {
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}
